@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*p {
  line-height: 1.75rem;
  margin-block-start: 1.75rem;
  margin-block-end: 1.75rem;
}*/

.is-red {
  background-color: var(--color-pop-red);
  color: var(--color-white);
}

.is-robin {
  background-color: var(--color-robins-egg);
  color: var(--color-black);

  h1, h2, h3 {
    color: var(--color-white);
  }

  h4, h5, h6 {
    color: var(--color-abyss);
  }
}

.is-abyss {
  background-color: var(--color-abyss);
  color: var(--color-white);

  h1, h2, h3 {
    color: var(--color-white);
  }

  h4, h5, h6 {
    color: var(--color-robins-egg);

    &:nth-of-type(2n) {
      color: var(--color-seafoam);
    }
  }

  a {
    color: var(--color-robins-egg);
  }
}

.is-seafoam {
  background-color: var(--color-seafoam);
  color: var(--color-black);

  h1, h2, h3 {
    color: var(--color-white);
  }

  h4, h5, h6 {
    color: var(--color-abyss);
  }
}
