@import '../Heading/Heading.css';

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
       url('./static/fonts/Montserrat-Regular.ttf') format('truetype');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75rem;
}

code {
  font-family: monospace;
  font-size: 1rem;
}

h1 {
  @extend .Heading--h1;
}

h2 {
  @extend .Heading--h2;
}

h3 {
  @extend .Heading--h3;
}

h4 {
  @extend .Heading--h4;
}

h5 {
  @extend .Heading--h5;
}

h6 {
  @extend .Heading--h6;
}

.is-red {
  background-color: var(--color-pop-red);
  color: var(--color-white);
}

.is-robin {
  background-color: var(--color-robins-egg);
  color: var(--color-black);

  h1, h2, h3 {
    color: var(--color-white);
  }

  h4, h5, h6 {
    color: var(--color-abyss);
  }
}

.is-abyss {
  background-color: var(--color-abyss);
  color: var(--color-white);

  h1, h2, h3 {
    color: var(--color-white);
  }

  h4, h5, h6 {
    color: var(--color-robins-egg);

    &:nth-of-type(2n) {
      color: var(--color-seafoam);
    }
  }

  a {
    color: var(--color-robins-egg);
  }
}

.is-seafoam {
  background-color: var(--color-seafoam);
  color: var(--color-black);

  h1, h2, h3 {
    color: var(--color-white);
  }

  h4, h5, h6 {
    color: var(--color-abyss);
  }
}
