@import "prismjs/themes/prism-okaidia.css"; /* -okaidia for dark theme on Code */

/* ACTIONS */
.Actions {
	background-color: #272822;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 0;
  text-align: center;
  width: 100%;

  @media (width > 960px) {
    padding: 2em 2em 0;
  }

  &__button {
  	position: relative;
	  appearance: none;
	  border-radius: 0;
	  border: none;
	  padding: 0.5em 1em;
	  margin: 0;
	  font-size: 0.9em;
	  font-weight: 400;
	  cursor: pointer;
	  background-color: #f6f6f6;
	  color: #666;

	  &Left {
	    border-radius: 4px 0 0 4px;
	  }

	  &Right {
	    border-radius: 0 4px 4px 0;
	  }

	  &Single {
	    border-radius: 4px;
	  }

	  & + .actionButton {
	    margin-left: -2px;
	  }


	  &:active,
	  &:focus,
	  &:hover {
	    color: #000;
	    background-color: #eee;
	  }

	  &:focus {
	    z-index: 4;
	  }

	  &.is-active {
	    z-index: 2;
	    color: black;
	    border-color: #ccc;
	    background-color: #eee;
	    box-shadow: inset #bbb 0 0 0.5em;

	    &:hover {
	      color: black;
	      border-color: #eee;
	    }

	    &:active,
	    &:focus {
	      color: black;
	      border-color: #999;
	    }
	  }
  }
}

/* CODE */
.Code {
	&__view {
	  /* overwrite theme */
	  margin-top: 0 !important;
	  margin-bottom: 0 !important;
	  font-size: 16px !important;
	  border-radius: 0 !important;
	  padding-top: 1em !important;

	  @media (width > 960px) {
	    padding: 2em !important;
	    padding-top: 1em !important;
	  }
	}
}

/* DRAGGABLE */
.Drag {
  display: inline-block;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10001;

  &__handle {
  	position: relative;
	  height: 100%;
	  cursor: ew-resize;

	  &::after,
	  &::before {
	    content: '\0020';
	    position: absolute;
	    margin-top: -1px;
	    top: 50%;
	    width: 20px;
	    height: 2px;
	    transform: rotate(90deg);
	    background-color: black;
	    opacity: 0.05;
	  }

	  &Active,
	  &Active,
	  &:active,
	  &:focus,
	  &:hover {
	    &::after,
	    &::before {
	      opacity: 1;
	      background-color: blue;
	    }
	  }
  }

  &--left {
	  left: 0%;
	  margin-left: calc(-1 * (100vw - 1em));

	  .Drag__handle::after { right: -3px; }
	  .Drag__handle::before { right: 0; }
  }

  &--right {
	  right: 0%;
	  margin-right: calc(-1 * (100vw - 1em));

	  .Drag__handle::after { left: -3px; }
	  .Drag__handle::before { left: 0; }
  }
}

/* EDITORS */
.Editors {
	display: flex;
  flex-flow: row wrap;
  background-color: #f6f6f6;
  padding: 1em 0 0 1em;

  & > fieldset {
    margin-right: 1em;
    margin-bottom: 1em;
  }

  & > [data-type="text"] {
    flex-grow: 1;
    min-width: 280px;
  }

  & > [data-type="textarea"] {
    width: 100%;
  }
}

/* PREVIEW */
.Preview {
	position: relative;
/*  background-color: white;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    linear-gradient(to right, black 50%, white 50%),
    linear-gradient(to bottom, black 50%, white 50%);*/
  background-blend-mode: normal, difference, normal;
  background-size: 1em 1em;
  background-position: top center;
  /*box-shadow: inset rgba(0, 0, 0, 0.075) 0 0 2em;*/
  overflow: hidden;
  padding: 1em;
  transition: background-image 0.5s;

  :global(.react-draggable-transparent-selection) & {
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)),
      linear-gradient(to right, black 50%, white 50%),
      linear-gradient(to bottom, black 50%, white 50%);
  }

	&__frame-wrapper {
	  box-shadow: rgba(0, 0, 0, 0.075) 0 0 2em;
	  margin: auto;
	  min-width: 180px;
		position: relative;
	  width: 100%;
	  z-index: 10;

	  :global(.react-draggable-transparent-selection) & {
	    pointer-events: none;
	  }
	}

	&__preview-frame {
		border: 1px solid var(--color-lite-grey);
	  display: block;
	  padding: 0.125rem;
	  width: 100%;
	}
}

/* RESIZER */
.Resizer {
  position: relative;
  background-color: #f6f6f6;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  &__button {
  	position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  display: block;
	  margin: auto;
	  appearance: none;
	  background-color: transparent;
	  border: solid #fff;
	  border-width: 0 2px;
	  color: transparent;
	  cursor: pointer;
	  font-size: 0.7em;
	  padding: 0.1em 0.65em 0.15em;
	  width: 100%;
	  text-align: center;
	  outline: none;

	  &:first-child {
	    border: none;
	  }

	  &:focus,
	  &:hover {
	    color: #666;
	    background-color: #eee;
	  }

	  &:focus {
	    border-color: blue;
	  }
  }

  &__button-wrapper {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  z-index: 3;

	  :global(.react-draggable-transparent-selection) & {
	    pointer-events: none;
	    z-index: 1;
	  }
  }

  &__current {
  	position: relative;
	  font-size: 0.7em;
	  padding: 0.1em 0.65em 0.15em;
	  font-family: system-ui;
	  font-weight: 300;
	  text-align: center;
	  color: #999;
	  margin: auto;
	  opacity: 0;
	  z-index: 2;

	  span {
	    font-weight: normal;
	    color: #666;
	  }

	  :global(.react-draggable-transparent-selection) & {
	    pointer-events: none;
	    opacity: 1;
	    border: 2px solid blue;
	    border-width: 0 2px;
	  }
  }
}

/* SPECIMEN */

.Specimen {
  & :global(*) {
    box-sizing: border-box;
  }
}
