.Input {
  & > * {
    /*display: block;*/
  }

  &__error {
    font-size: 0.875rem;
    color: var(--color-pop-red);
    padding: 0 0.125rem;
  }

  &__input {
    appearence: none;
    border: 1px solid var(--color-lite-grey);
    border-radius: 3px;
    box-shadow: none;
    height: 2rem;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    transition: border-color 0.25s ease;

    &:focus {
      border-color: var(--color-robins-egg);
      outline: 0;
    }
  }

  &--has-error {
    .Input__input {
      border-color: var(--color-pop-red);

      &:focus {
        border-color: var(--color-robins-egg);
      }
    }
  }
}
