.FormSelect {
  width: 100%;
  margin: 2px;

  .css-yk16xz-control {
    height: 2rem;
  }

  &__large{
    width: 45%;
  }

  &__medium{
    width: 30%;
  }

  &__small{
    width: 15%;
  }
}
 
.underline {
   .css-yk16xz-control {
     border-bottom: 2px solid var(--color-seafoam);
   }
}

.inline {
    display: inline-flex;
    margin-left: 4px;
    margin-right: 4px;
}

 @media screen and (max-width: 415px) {
    .FormSelect__small {
      min-width: 8rem;
    }
    .FormSelect__medium {
      min-width: 12rem;
    }
    .FormSelect__large {
      min-width: 16rem;
    }
  }

  