.Wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0; /* note to self: never put padding / margin on Wrapper */
  position: relative;
  width: 100%;

  &--default {
  	max-width: 64rem;
  }

  &--small {
    max-width: 43.75rem;
  }

  &--wide {
    max-width: 90rem;
  }
}
