.Wrapper {
  margin: 0 auto;
  padding: 0; /* note to self: never put padding / margin on Wrapper */
  position: relative;
  width: 100%;

  &--content {
  	max-width: 43.75rem;
  }

  &--default {
  	max-width: 64rem;
  }

  &--wide {
    max-width: 90rem;
  }
}
