:root {
  --font-weight--light: 300;
  --font-weight--default: 500;
  --font-weight--bold: 700;
}

.Heading {
  line-height: 44px;

  &--h1 {
    font-size: 3rem;
  }

  &--h2 {
    font-size: 2.5rem;
  }

  &--h3 {
    font-size: 2rem;
  }

  &--h4 {
    font-size: 1.5rem;
    font-weight: var(--font-weight--bold);
  }

  &--h5 {
    font-size: 1.25rem;
    font-weight: var(--font-weight--bold);
  }

  &--h6 {
    font-size: 1.125rem;
    font-weight: var(--font-weight--bold);
  }

  &--bold {
    font-weight: 700;
  }

  &--thin {
    font-weight: 300;
  }
}