.Select {
  width: 100%;
  margin: 2px;

  &__large{
    width: 45%;
  }

  &__medium{
    width: 30%;
  }

  &__small{
    width: 15%;
  }

  @media (--small) {
    &__small {
      min-width: 8rem;
    }
    &__medium {
      min-width: 12rem;
    }
    &__large {
      min-width: 16rem;
    }
  }
}

