.Button {
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5em 1.25em;

  /* variants */
  &--default {
    background-color: color(var(--color-white) alpha(30%));
    border-color: var(--color-abyss);
    color: var(--color-abyss);
  }

  &--secondary {
    background-color: var(--color-abyss);
    border-color: var(--color-white);
    color: var(--color-white);
  }

  &--link {
    text-decoration: none;
  }

  /* sizes */
  &--auto {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  &--full {
    display: block;
    width: 100%;
  }
}
