.Specimen2 {

  
}

.wrapper{ 
  display: grid;
  border: 1px solid gray;
  padding: .5rem;
  grid-template-columns: 20% 40% 40%;
  grid-auto-rows: auto;
  }

  .key-column {
    grid-column: 1;
  }

  .value-column {
    grid-column: 2;
    align-self: flex-start;
  }

   .input-column {
  grid-column: 3;
    align-self: flex-start;
  }