.Table {
	border-spacing: 0;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;

	&__head {
		/* background-color: red; */
	}

	&__body &__row:nth-child(odd) {
		background-color: #add8e6;
	}

	&__header {
		border-bottom: 1px solid black;

		&__button:active {
			background-color: blue;
		}
	}

	&__row td{
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
