.Table {
	color: black;
	display: inline-block;
	width: 100%;

	&__table {
		text-align: left;
		width: 100%;
	}

	&__data {
		border-bottom: 1px solid var(--color-abyss);
		font-weight: normal;
		padding: 1rem;

		&:last-child {
			text-align: right;
		}
	}

	&__head {
		display: none;
	}

	&__header {
		font-weight: bold;

		&:last-child {
			text-align: right;
		}
	}

	&__row {
		&:last-child {
			.Table__data {
				border-bottom: none;
			}
		}

		.Table__data::before {
			content: attr(data-heading);
			color: black;
	    display: block;
			font-weight: bold;
		}

		.Table__data {
			display: block;
		}
	}

	@media (--medium) {
		overflow-x: scroll;
		overflow-y: visible;

		&__head {
			border-bottom: 1px solid var(--color-abyss);
			display: revert;
			line-height: normal;
			padding: 1rem;

			th {
				display: revert;
				padding-left: 1.2rem;
				padding-right: 1.2rem;
			}
		}

		&__header {
			padding: 1rem;
		}

		&__row {
			border: none;

			.Table__data {
				display: revert;
				padding-left: 1.2rem;
				padding-right: 1.2rem;
			}

			.Table__data::before {
				content: '';
				opacity: 0;
			}
		}
	}
}
