.TextArea {
  border: 1px solid #8C8C8C;
  border-radius: 0.1875rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75rem;
  min-height: 3rem;
  padding: 0.65rem;
  position: relative;
  resize: vertical;
  width: 100%;

  &__word-counter {
    bottom: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all .10s;
  }

  &:focus + &__word-counter{
    animation-name: slide-down;
    animation-duration: .05s;
    bottom: -25px;
    opacity: 1;
  }

  @keyframes slide-down {
    0% {
      bottom: 0;
      opacity: 0;
    }

    100% {
      bottom: -25px;
      opacity: 1;
    }
  }

}
