.Badge {
	border-radius: 3px;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 20px;
	padding: 0 0.5rem;
	margin-bottom: 0.1rem;

	&--blue {
		background-color: blue;
		color: var(--color-white);
	}

	&--green {
		background-color: green;
		color: var(--color-white);
	}

	&--orange {
		background-color: orange;
	}

	&--red {
		background-color: red;
		color: var(--color-white);
	}

	&--yellow {
		background-color: yellow;
	}
}
