.Badge {
	border: 1px solid transparent;
	border-radius: 3px;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 0.1rem;
	padding: 0 0.5rem;
	transition: border-color 0.5s;

	&--blue {
		background-color: var(--color-robins-egg);
		color: var(--color-white);
	}

	&--green {
		background-color: var(--color-seafoam);
		color: var(--color-white);
	}

	&--orange {
		background-color: orange;
	}

	&--red {
		background-color: var(--color-pop-red);
		color: var(--color-white);
	}

	&--yellow {
		background-color: yellow;
	}
}
