.Toggle {
  margin: 1rem;
  cursor: pointer;

  label .lever {
    background-color: rgba(0,0,0,0.38);
    border-radius: 1rem;
    display: inline-block;
    height: 0.875rem;
    position: relative;
    margin: 0 0.625rem;
    margin-right: 0.625rem;
    transition: left 0.2s ease;
    vertical-align: middle;
    width: 2.25rem;

    &::before, &::after {
      content: "";
      display: inline-block;
      position: absolute;
    }

    &::before {
      width: 1rem;
      height: 0.875rem;
      background-color: #84c7c1;
      border-radius: 1rem;
      transition: left 0.2s ease;
      transition: all 0.25s ease;
      vertical-align: middle;
    }

    &::after {
      border-radius: 50%;
      background-color: lightgray;
      box-shadow: -1px 1px 5px rgba(105, 105, 105, 0.3);
      height: 1.25rem;
      left: -3px;
      top: -3px;
      transition: left .25s;
      width: 1.25rem;
    }
  }

  input[type="checkbox"] {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:checked + .lever:after {
      animation-duration: .25s;
      animation-name: switchOn;
      animation-play-state: running;
      left: 18px;
    }

    &:checked + .lever:before {
      animation-duration: .25s;
      animation-name: leverChange;
      width: 2.25rem;
    }
  }
}

@keyframes switchOn {
  0% {
    left: -3px;
    box-shadow: -1px 1px 5px rgba(105, 105, 105, 0.3);

  }
  100% {
    left: 18px;
    box-shadow: 1px 1px 5px rgba(105, 105, 105, 0.3);
  }
}

@keyframes leverChange {
  0% {
    width: 1rem;
  }
  100% {
    width: 2.25rem;
  }
}


